:root {
    --save: #265073;
    --sidebar: #2D9596;
    --toolbar: #9AD0C2;
    --background: #F1FADA
}

*{
    font-family: "Roboto", sans-serif;
    font-size: small;
    /* font-weight: 400;
    font-style: normal;   */
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: var(--background);
    /* filter: brightness(60%); */
    /* background-color: rgba(0, 0, 0, 0.5); */
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 140vh;
    z-index: -2;
    /* background-color: rgb(134, 233, 233); */
}

.ql-toolbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--toolbar);
    box-shadow: 0 0 5px rgb(37, 35, 35);
    z-index: 1;
    position: sticky;
    top: 0;
    width: 100%;
    flex-wrap: wrap;
}

.ql-snow{
    /* padding: 1rem; */
    /* width: 60rem; */
}

.ql-container{
    width: 80%;
    background-color: white;
    margin: 1.2rem;
    box-shadow: 0 0 5px rgb(0,0,0,0.5);
    height: 800px;
    padding: 1rem;
    /* z-index: -1; */
}

#dialog{
    /* background-color: #9EDDFF; */
    background-color: var(--toolbar);
    position: absolute;
    width:  25%;
    left: 40%;
    top: 40%;
    padding: 13px;
    border-radius: 5px;
    z-index: 2;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: ; */
    /* box-shadow: 0 0 5px rgb(40, 40, 40); */
}

#dialog p{
    margin-bottom: 2.5%;
}

#dialog-backdrop{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
    /* filter: opacity(10%); */
}

#dialog button{
    padding: 7px;
    color: white;
    background-color: var(--save);
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 8px;
}

#dialog input{
    width: 95%;
    padding: 10px;
    margin: 0px 0 10px 0;
}

.ql-formats button, #but{
    background-color: var(--save);
    color: white;
    width: 5%;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
}

#img-save{
    width: 21px;
    height: 21px;
    cursor: pointer;
    filter: opacity(80%)
}

#img-save:hover{
    filter: opacity(90%)
}

#sidebar{
    height: 139.8%;
    width: 320px;
    width: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
    /* background-color: rgb(68, 68, 195); */
    /* background-color: #6c70d1; */
    background-color: var(--sidebar);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 5px rgb(43, 42, 42);
}

#profile img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

#details{
    /* background-color: yellow; */
    margin-left: 5%;
}

#profile #user-icon{
    width: 35px;
    height: 35px;
    border-radius: 100px;
}

#profile{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px;
    margin-top: 30px;
    color: var(--background);
    /* position: absolute; */
    /* background-color: aliceblue; */
    padding: 15px; 
    width: 100%;
    height: 30px;
    /* background-color: #B7C9F2; */
    /* background-color: rgb(68, 68, 195);; */
}


.close-icon{
    position: absolute;
    top: 15px;
    right: 15px;
    display: block;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.close-icon-div{
    /* position: absolute; */
    width: 100%;
    /* height: 6%; */
    /* background-color: yellow; */
}

#sidebar-toggle{
    position: absolute;
    top: 11px;
    left: 15px;
    display: block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    z-index: 20;
}
#sidebar-backdrop{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    /* background-color: antiquewhite; */
    z-index: 1;
}

#login{
    padding: 10px;
    background-color: var(--save);
    color: white;
    border: 0;
    border-radius: 5px;
    width: 80%;
    margin-top: 5px;
    margin: 25px;
}

.open-icon{
    position: absolute;
    left: 15px;
    top: 13px;
    cursor: pointer;
    z-index: 4;
}

#div5{
    display: flex;
    flex-direction: row;
}

#create-new{
    background-color: white;
    width: 70%;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 19px;
    margin-top: 0;
    cursor: pointer;
    border-radius: 2px;
    padding: 10px;
    box-shadow: 0 0 5px rgb(0,0,0,0.5);
}

#create-new:hover{
    transform:scale(1.06)
}

#new-tagline{
    font-size: 1rem;
}

#new{
    font-size: 2.5rem;
    font-weight: bolder;
}

